/* set background color to beige */
body {
    background-color: beige;
}

strong {
    color: #d2691e;
    font-size: 1.25em;
    margin-left: 1px;
    margin-right: 1px;
}

details {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: center;
    position: sticky;
}

em {
    color: rgb(255, 195, 0);
}

b {
    color: hsl(337, 92%, 31%)
}

span {
    font-size: 1.25rem;
    margin:auto;
}

ul {
    margin: 10px;
}

.unfinished {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* class selector */
.wrapper {
    width: 500px;
    border: 5px solid rebeccapurple;
    padding: 10px;
    height: auto;
}

/* center text and adjust font size */
.author {
    font-size: 30px;
    text-align: center;
    text-decoration: underline;
    display: block;
}

/* center the header */
h1 {
    text-align: center;
    font-size: 50px;
}

/* adjust size of header 2 */
h2 {
    font-size: 35px;
}

h3 {
    font-size: 1.375rem;
}

#comments {
    border-style: dashed;
    border-color: brown;
    border-radius: 0%;
    border-width: 2px;
    position: relative;
}

form {
    display:inline-block;
    margin-left: 300px;
    max-width: fit-content;
    min-width: none;
}

button:hover {
    color: blue;
}

input:active {
    color: red;
}